
$ev-background: #efefef;
$ev-primary: #fff;
$ev-secondary-1: #6caedf;
$ev-secondary-2: #546577;
$ev-secondary-3: #40c6d2;
$ev-secondary-4: #ccc;
$ev-secondary-5: #4653a4;
$ev-secondary-6: #ffa726;
$ev-secondary-7: #777777;
$ev-secondary-8: #F4F4F4;
$ev-disclaimer: #808080;

$ev-accent: #777777;
$ev-accent-light: #777777;

$ev-box-shadow-1: rgba(0, 0, 0, 0.2);
$ev-box-shadow-2: rgba(0, 0, 0, 0.19);
$ev-box-shadow-3: 0px 4px 4px #efefef;
$ev-box-shadow-4: 5px 5px 5px rgba(0, 0, 0, 0.28);

$ev-background-dim: rgba(0, 0, 0, 0.5);
$ev-background-dim-2: rgba(0, 0, 0, 0.25);

$ev-error-text: rgba(255, 53, 40, 0.84);

$ev-lost-letters__grey:lightgrey;
$ev-lost-letters__blue:blue;
$ev-lost-letters__white:white;

$ev-pause-modal_red:#da4733;
$ev-pause-modal_blue:#3b78e7;
$ev-pause-modal_yellow:#fdba2c;


$ev-game-center_overlay:rgba(0,0,0,0.8);
$ev-game-center_text:white;
$ev-game-center_play-button-border:green;
$ev-game-center_box-shadow:black;
